.logo {
  height: 14em;
}

.content {
  margin-left: 40px;
}

.input {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  box-sizing: border-box;
  border-top: 4px solid #1e1e1e;
  border-bottom: 4px solid #1e1e1e;
  border-left: 4px solid #1e1e1e;
  border-right: 2px solid #1e1e1e;
  padding: 8px 16px;
  width: 400px;
  font-size: 32px;
  cursor: pointer;
  outline: none;
}

.input_alt {
  padding: 8px 16px;
  width: 400px;
  font-size: 32px;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  color: #1e1e1e;
}

.button {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-top: 4px solid #1e1e1e;
  border-bottom: 4px solid #1e1e1e;
  border-right: 4px solid #1e1e1e;
  border-left: 2px solid #1e1e1e;
  background-color: #eb3f3f;
  font-weight: 700;
  padding: 8px 16px;
  font-size: 32px;
  cursor: pointer;
  color: #ffffff;
}

.button_alt {
  background-color: #eb3f3f;
  color: #ffffff;
  width: 400px;
    font-weight: 700;
  padding: 8px 16px;
  font-size: 32px;
  cursor: pointer;
  }

.button:hover {
  background-color: #EE5959;
}

.text {
  font-weight: 500;
  font-size: 18px;
  max-width: 600px;
}

.hero {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials {
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}


.scroll {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  color: #1e1e1e;
}

.scroll:hover {
    color: #eb3f3f;
  }


.subText {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.emoji {
  font-size: 24px;
  margin: 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 48px;
  color:#ffffff
}


.quote {
  font-weight: 900;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.author {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
}

.testimonial {
  max-width: 1000px;
}
.flex {
  display: flex;
}
@media (max-width: 850px) {
  .logo {
    height: 5em;
  }

  .text {
    font-weight: 500;
    font-size: 14px;
  }

  .input {
    width: 200px;
    font-size: 14px;
  }

  .button {
    font-size: 14px;
  }

  .content {
    margin-left: 15px;
  }

  .quote {
    font-size: 14px;
    font-weight: 700;
  }

  .author {
    font-size: 12px;
  }

  .testimonials {
    padding: 24px 12px;
  }
}
